.ipynb_checkpoints
train/saved_models/
data_prep/dask*
test/confvsacc/*
functions/__pycache__/*
plot_scripts/plots/
IG/data/*
CNNcheck/saved_models/*
CNNcheck/confvsacc/*
CNNcheck/plots/*
CNNcheck/IG_data/*
